# HTTP server block (Port 80)
server {
    listen {{ ansible_facts['default_ipv4']['address'] }}:80;
    server_name _;

    # Direct health check response for Azure Load Balancer
    location = /healthz {
        access_log off;
        return 200 'OK\n';
    }

    # Redirect all other HTTP traffic to HTTPS
    location / {
        return 301 https://$host$request_uri;
    }
}

# HTTPS server block (Port 443)
server {
    listen {{ ansible_facts['default_ipv4']['address'] }}:443 ssl;
    server_name _;

    # TLS Certificates
    ssl_certificate {{ nginx_ssl_cert }};
    ssl_certificate_key {{ nginx_ssl_key }};

    # TLS Protocols and security settings
    ssl_protocols TLSv1.2 TLSv1.3;
    server_tokens off;

    # Security Headers
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Frame-Options "DENY" always;
    add_header Strict-Transport-Security "max-age=3600; includeSubDomains" always;

    # Reverse proxy to backend application
    location / {
        proxy_pass http://{{ hostvars['vm-back']['ansible_host'] }}:{{ hostvars['vm-back']['app_port'] }};

        # Proxy Headers
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}